name: password_manager_with_d4
description: "A new Flutter project."

publish_to: 'none' # Remove this line if you wish to publish to pub.dev

version: 1.0.0+1

environment:
  sdk: ^3.4.0

dependencies:
  flutter:
    sdk: flutter

  cupertino_icons: ^1.0.8
  google_fonts: ^6.2.1
  shared_preferences: ^2.5.2
  mask_text_input_formatter: ^2.9.0
  flutter_svg: ^2.0.17
  device_preview: ^1.2.0
  equatable: ^2.0.7
  intl: ^0.19.0
  share_plus: ^10.1.4
  smooth_page_indicator: ^1.2.1

dev_dependencies:
  flutter_test:
    sdk: flutter

  flutter_lints: ^5.0.0

flutter:

  uses-material-design: true

